// src/styles/components/sections/intro-sections/_result-interpretation.scss
@use '../../../base/variables' as *;
@use '../../../base/mixins' as *;


// .interpretation
.interpretation {
	margin: 30px 0;

	//.interpretation__container-------------------------------
	&__container {
		//max-width: 1170px;
		padding: 0 15px;
		margin: 0 auto;
	}

	//.interpretation__body-------------------------------
	&__body {
		margin-bottom: 30px;
		border-radius: $radius-block;
		color: $color-text-dark;
		padding: 30px;
		box-shadow: $shadow-block;
		background-color: $color-bg-white;

		@include respond-to($breakpoint-md) {
			padding: 15px;
		}
	}

	//.interpretation__title-------------------------------
	&__title {
		text-align: center;
		font-size: 24px;
		font-weight: 700;
		line-height: 120%;
		margin: 0 0 15px 0;
		color: $color-text-dark;

		@include respond-to($breakpoint-md) {
			padding: 10px 10px 20px 10px;
			font-size: 20px;
			font-weight: 700;
			margin: 0;
		}
	}

	//.interpretation__sections-------------------------------
	&__sections {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;

		@include respond-to($breakpoint-md) {
			grid-template-columns: 1fr;
			gap: 15px;
		}
	}

	//.interpretation__section-------------------------------
	&__section {
		border-radius: $radius-block;
		padding: 15px;
		border: 1px solid $color-bg-gray;
		background: $color-bg-light;

		//.interpretation__section-results
		&_results {
			grid-column: 1 / 3;

			@include respond-to($breakpoint-md) {
				grid-column: auto;
			}
		}
	}

	//.interpretation__section-title-------------------------------
	&__section-title {
		color: $color-text-dark;
		font-weight: 600;
		font-size: 19px;
		line-height: 140%;
		margin: 0 0 10px 0;

		@include respond-to($breakpoint-md) {
			font-size: 17px;
		}

		//.interpretation__section-title br
		br {
			display: none;

			@include respond-to($breakpoint-md) {
				display: block;
			}
		}
	}

	//.interpretation__section-subtitle-------------------------------
	&__section-subtitle {
		font-weight: 600;
		font-size: 18px;
		line-height: 140%;
		margin-bottom: 10px;
		color: $color-accent;

		@include respond-to($breakpoint-md) {
			font-size: 16px;
		}

	}

	//.interpretation__list-item-------------------------------
	&__list-item {
		font-size: 16px;
		line-height: 140%;
		color: $color-text-dark;


		//.interpretation__list-item :not(:last-child)
		& :not(:last-child) {
			margin-bottom: 5px;
		}

		@include respond-to($breakpoint-md) {
			font-size: 14px;
		}
	}

	//.interpretation__pattern-list-------------------------------
	&__pattern-list {
		list-style: none;
		display: flex;
		flex-direction: column;
		margin: 0 0 0 10px;

		&.interpretation__pattern-list_multiple {
			margin: 0 0 10px 10px;
			font-weight: 500;
			font-family: "PT Sans";
			text-transform: uppercase;
		}
	}

	//.interpretation li--------------------------------
	& li {
		position: relative;
		padding-left: 15px;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 10px;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background-color: $color-text-dark;
		}
	}

	//.interpretation span --------------------------------
	& span {
		font-weight: 500;
		color: $color-text-dark;
	}

	//.interpretation h4
	& h4 {
		font-weight: 600;
		color: $color-text-dark;
	}
}